<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elishaazaria.advancedactivitychooser">

    <permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action android:name="android.intent.action.EDIT" />
        </intent>
    </queries>

    <!-- TODO: set up backup -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdvancedActivityChooser">

        <activity
            android:name=".dialog.DialogActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.AdvancedActivityChooser.Dialog" />

        <activity-alias
            android:name=".dialog.AliasFiles"
            android:exported="true"
            android:label="@string/alias_label_files"
            android:targetActivity=".dialog.DialogActivity">

            <!-- Files -->
            <intent-filter> <!-- Any MIME type -->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter> <!-- Null MIME type -->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".dialog.AliasWebBrowser"
            android:exported="true"
            android:label="@string/alias_label_web_browser"
            android:targetActivity=".dialog.DialogActivity">

            <!-- Links -->
            <!--            <intent-filter> -->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.APP_BROWSER" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--            </intent-filter>-->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.SEARCH" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--            </intent-filter>-->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.WEB_SEARCH" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--            </intent-filter>-->

            <intent-filter> <!-- Browser app -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".dialog.AliasWebLinks"
            android:enabled="false"
            android:exported="true"
            android:label="@string/alias_label_web_links"
            android:targetActivity=".dialog.DialogActivity">

            <intent-filter> <!-- Direct links -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern=".*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".dialog.AliasSchemeIntents"
            android:exported="true"
            android:label="@string/alias_label_scheme_intents"
            android:targetActivity=".dialog.DialogActivity">
            <!-- No MIME type (null) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--                <data android:scheme="http" />-->
                <!--                <data android:scheme="https" />-->
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="mailto" />
                <data android:scheme="geo" />
                <!--                <data android:scheme="file" />-->

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />

                <data android:scheme="skype" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="spotify" />
                <data android:scheme="tel" />
                <data android:scheme="voicemail" />
                <data android:scheme="view-source" />

                <data android:scheme="sqlite" />

                <data android:scheme="market" />
                <data android:scheme="store" />
                <data android:scheme="android" />
            </intent-filter>
            <!-- Any MIME type -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--                <data android:scheme="http" />-->
                <!--                <data android:scheme="https" />-->
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="mailto" />
                <data android:scheme="geo" />
                <!--                <data android:scheme="file" />-->

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="ftp" />
                <data android:scheme="sftp" />

                <data android:scheme="skype" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="spotify" />
                <data android:scheme="tel" />
                <data android:scheme="voicemail" />
                <data android:scheme="view-source" />
                <data android:scheme="sqlite" />

                <data android:scheme="market" />
                <data android:scheme="store" />
                <data android:scheme="android" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".dialog.AliasOpenCamera"
            android:exported="true"
            android:label="@string/alias_label_open_camera"
            android:targetActivity=".dialog.DialogActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>